<div class="container">
    <div class="d-flex justify-content-center h-100 animated fadeInRight">
        <div class="card">
            <div class="card-header">
                <h3>Sign Up</h3>

            </div>
            <div class="card-body">

                <!-- FORMULARIO -->

                <form [formGroup]="formRegistro" (ngSubmit)="registroUsuario()">

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-paper-plane"></i></span>
                        </div>
                        <!-- EMAIL -->
                        <input type="email" class="form-control" type="email" formControlName="email" [class.is-invalid]="usuarioNoValido" email placeholder="username">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <!-- NOMBRE -->
                        <input type="text" class="form-control" type="text" formControlName="name" [class.is-invalid]="nombreNoValido" placeholder="nombre">

                    </div>

                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <!-- PASSWORD -->
                        <input type="password" class="form-control" type="password" formControlName="password" [class.is-invalid]="passNoValido" minlength="6" placeholder="Password">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Recuerdame
                    </div>
                    <div class="form-group">
                        <input type="submit" value="SignUp" class="btn float-right login_btn">
                    </div>
                </form>

                <!-- FIN DE FORMULARIO -->
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    ¿Ya estas registrado?<a [routerLink]="['/login']">Login</a>
                </div>

            </div>
        </div>
    </div>
</div>