<div class="row">
    <div class="col">
        <div class="mt-5 text-center">


            <button type="button" [routerLink]="['/home/listas']" class="btn btn-outline-success back"><i class="fas fa-long-arrow-alt-left cursor"></i> Back</button>
            <button type="button" (click)="abrirSwal(appUser.key, docKey)" class="btn btn-outline-success"><i class="fas fa-plus cursor"></i> Create Item</button>
        </div>
        <div class="col-md-4 list animated fadeIn fast">
            <table class="table table-bordered tb">

                <thead class="tb">
                    <tr>
                        <th class="tb">Items</th>

                    </tr>
                </thead>
            </table>
            <ul class="list-group" *ngFor="let tarea of lista">
                <li class="list-group-item d-flex justify-content-between align-items-center fondolista animated fadeIn slow">
                    <div [innerHTML]="tarea | complete"></div>
                    <span>
                        <a *ngIf="!tarea.includes('- FINISH')" (click)="checkItem(appUser.key, docKey, tarea)" class="badge badge-success badge-pill marginDelete tools"><i class="fas fa-check cursor"></i></a>
                        <a *ngIf="tarea.includes('- FINISH')" (click)="desCheckItem(appUser.key, docKey, tarea)" class="badge badge-primary badge-pill marginDelete tools"><i class="fas fa-times cursor"></i></a>
                        <a *ngIf="!tarea.includes('- FINISH')"  (click)="deletList(appUser.key, docKey, tarea)" class="badge badge-danger badge-pill marginDelete tools"><i class="fas fa-trash-alt cursor"></i></a>
                        <a *ngIf="!tarea.includes('- FINISH')" (click)="editItem(appUser.key, docKey, tarea)" class="badge badge-primary badge-pill marginDelete tools"><i class="fas fa-pen-square cursor"></i></a>

                    </span>

                </li>

            </ul>
        </div>

    </div>
</div>