<div class="row">
    <div class="col">

        <div class="mt-5 text-center"><button type="button" (click)="abrirSwal()" class="btn btn-outline-success">
                <i class="fas fa-plus cursor"></i> Crear Lista</button>
        </div>
        <div class="col-md-4 list animated fadeIn fast">

            <table class="table table-bordered tb">

                <thead class="tb">
                    <tr>
                        <th class="tb">My lists</th>

                    </tr>
                </thead>
            </table>
            <ul class="list-group" *ngFor="let lista of listas">
                <li class="list-group-item d-flex justify-content-between align-items-center  fondolista animated fadeIn ">
                    <div class="cursor" [routerLink]="['/home/lista',lista.key]">
                        {{lista.nombre}}
                    </div>
                    <span>
                        <span class="badge badge-primary badge-pill tools">{{lista.tareas.length}}</span>
                    <a (click)="deletList(appUser.key, lista.key, lista.nombre)" class="badge badge-danger badge-pill marginDelete tools"><i class="fas fa-trash-alt cursor"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>