.isFinished {
    font-size: 12px;
    margin-left: 13px;
    position: relative;
    top: -3px;
    color: white;
}

.conditionList {
    background: #adb5bd;
    margin-left: 10px;
    font-weight: 500;
}

.conditionList2 {
    text-decoration: line-through !important;
}