/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
}

.footer {
    background-color: #2c3d7b !important;
    color: white;
    flex-grow: 0;
    padding: 25px 0;
    display: block;
    height: 6vh;
}

.fab,
.far {
    font-weight: 400;
    padding: 3px;
}