.oculto {
    display: none;
}

.opacidad {
    background: #000000bf;
}

.avatar {
    width: 250px;
}

.cursor {
    cursor: pointer;
}

.ellipsisImg {
    text-overflow: ellipsis;
    width: 100%;
    overflow: revert;
}

.list {
    margin: auto;
}

.marginDelete {
    margin: 1px;
}

.tools {
    font-size: 88%;
    font-weight: 700;
    line-height: 1.5;
    border-radius: 25px;
    width: 30px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 20px -2px #343a40, 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.itemsNumber {
    font-size: 88%;
    font-weight: 700;
    line-height: 1.5;
    border-radius: 25px;
    width: 30px;
    margin-right: 10px;
}

body {
    background-color: white;
}

.fondolista {
    background: #fefefe;
    color: #212529;
}

.back {
    margin-right: 7px;
}

.tb {
    text-align: center;
    color: white;
    margin-bottom: 0;
    border: none !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: #343a40;
}

.tbEnd {
    text-align: center;
    color: white;
    margin-bottom: 0;
    border: none !important;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #363c42;
}

.condition {
    background: #adb5bd;
    margin-left: 10px;
    text-decoration: line-through;
    font-weight: 500;
}

.pading0 {
    padding: 0px;
}

.float {
    float: right;
}

.badge-undo {
    color: #fff;
    background-color: #46229a;
}

.badge-undo:hover {
    color: #db3545;
}

.zoom:hover {
    transform: scale(1.2);
}

.zoomLista:hover {
    transform: scale(1.2);
    padding-left: 33px;
}

.fondoNav {
    background: linear-gradient(to bottom, #229a9a, #46229a);
}

.btnAddItem {
    margin-bottom: -15px;
}

.btnAddItemIcon {
    box-shadow: 0px 2px 20px -2px #41b15b, 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.dateList {
    font-style: italic;
    color: #6a6b6d;
}

.btnAddList {
    margin-bottom: 10px;
}

.btnsSpan {
    margin-left: 10px;
}